
.bt-nav {
  background-color: var(--bt-color-near-dark);
  position: relative;
  transform: var(--bt-skew);
  
  ul {
    li {
      a {
        color: var(--bt-color-light);
        font-weight: 200;
        
        &:hover {
          color: var(--bt-color-light);
        }
      }
    }
  }
  
  &::before {
    background-color: var(--bt-color-near-dark);
    content: '';
    position: absolute;
    top: -5vh;
    left: 0;
    bottom: 90%;
    right: 0;
  }
}

.homepage-hero {
  flex-flow: row wrap;
}

.homepage-site-title {
  font-size: 6em;
}

.homepage-site-title,
.homepage-stats {
  flex-basis: 100%;
}

.hero {
  aspect-ratio: 10/3;
  background-color: var(--bt-color-dark);
  border: 1rem solid var(--bt-color-light);
  color: #f5f7f5;
  display: flex;
  align-items: center;
  padding: 2rem;
  position: relative;
  transform: var(--bt-skew);
  z-index: 1;
  
  @media (min-width: 768px) {
    border: 2rem solid var(--bt-color-light);
    padding: 3rem;
  }
  
  & > * {
    transform: var(--bt-skew-offset);
  }
}

.hero-heading {
  font-size: clamp(2rem, 3vw + 1rem, 3.5rem);
  margin: 0;
  max-width: calc(100vw - 6rem);
  overflow-wrap: break-word;
  
  @media (min-width: 768px) {
    max-width: calc(100vw - 10rem);
  }
}

.subhero-info {
  display: flex;
  justify-content: flex-end;
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
  transform: var(--bt-skew);
  
  @media (min-width: 768px) {
    padding: 0.5rem 2rem;
  }
  
  a {
    margin-inline-start: 0.25rem;
  }
}

.content {
  background-color: var(--bt-color-near-light);
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.release-content {
  @media (min-width: 480px) {
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
  }
}

.release-content__left,
.release-content__right {
  @media (min-width: 480px) {
    flex: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  
}